<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
<div class="container">


        <div>

            {% for entry in entries %}
            <p>Journal entry for {{ entry[3] }}</p>
            <h2> Title </h2>
            <p> {{ entry[1] }} </p>
            <br>

            <form action="{{ url_for('fetch', id=entry[0]) }}" method="POST">
            <textarea rows = "5" cols = "50" name = "details"> {{ entry[2] }}</textarea>
            <br>
            <br>
            <input type="submit" value="Edit" >
            </form>

            <p> </p>
            {% endfor %}
        </div>



	</div>
</body>

</body>
</html>