<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<body>



<div class="container">
    <div class="jumbotron">

    <h2 align="center">Welcome to the Journal App!! Happy Journaling !!!</h2>
        <br>
            <div class="'container text-right">
            <form action="{{ url_for('search') }}"  method="POST">
            <input type="text"  cols = "30" name="search_date" placeholder="Enter Date:YYYY-MM-DD" style="width: 180px;" required>
            <input type="submit" value="Search">

            </form>

            </div>
            <br>

        <h4>ADD A JOURNAL ENTRY </h4>



        <form action="{{ url_for('add') }}" method="POST">

            <label> Title </label><br>
            <input type="text"  name="title" required>
            <br>
            <br>
            <label> Journal Entry </label><br>
            <textarea rows = "5" cols = "50" name = "details" required> Enter your text here!</textarea>
            <br>
            <br>
            <input type="submit" value="Add Entry">
            <br>
            <br>
        </form>

    <div>
    {% extends "layout.html" %}
    <br>
    <br>
    </div>
    {% block body %}

    <div>

        {% for entry in entries %}
        <br>

         <h4>Journal entry for {{ entry[3] }}</h4>

        <p> {{ entry[1] }} </p>
        <p>{{ entry[2] }} </p>
        <a href="{{ url_for('fetch', id=entry[0]) }}" > Edit </a>
        {% endfor %}
    </div>

    </div>
</div>



</body>

    {% endblock %}
</html>